
/***** desktop ****/

.desktop {
  body {
    border-width:0px 0px 0px 0px;
    margin:0px;
    padding:0px;
  }
	table {
	  /*	table-layout: fixed; */
	  border-radius: 14px;
	  border-width:0px 0px 0px 0px;
	  box-shadow: 10px 10px 5px 2px #888888;
	  margin:0px;
	  padding:0px;
	  width:auto;
	  height:100%;
	  border-collapse: separate;
	  border-spacing: 0;
	}
	table tr {
	  height: auto;
	}
	/* border width */
	table tr td {
	  border-width:1px 1px 0px 0px;
	}
	table tr:last-child td {
	  border-width:1px 1px 1px 0px;
	}
	table tr td:first-child {
	  border-width:1px 1px 0px 1px;
	}
	table tr:last-child  td:first-child {
	  border-width:1px 1px 1px 1px;
	}
	/* border curve */
	table tr:first-child td:first-child {
	  border-radius: 14px 0px 0px 0px;
	}
	table tr:first-child td:last-child  {
	  border-radius: 0px 14px 0px 0px;
	}
	table tr:last-child  td:first-child {
	  border-radius: 0px 0px 0px 14px;
	}
	table tr:last-child  td:last-child  {
	  border-radius: 0px 0px 14px 0px;
	}
	/* other */
	table tr td {
	  background-color:#ffffff;
	  color:#000000;
	  font-family:Arial;
	  font-size:14px;
	  font-weight:normal;
	  padding:2px;
	  text-align:left;
	  vertical-align:middle;
	  border-color:black;
	  border-style:solid;
	}
	table tr:first-child td {
	  height: auto;
	  background-color:#005fbf;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:14px;
	  font-weight:bold;
	  padding:7px;
	  text-align:center;
	  vertical-align:middle;
	  border-color:black;
	  border-style:solid;
	}
	h1 {
	  font-family:Arial;
	  font-size:30px;
	  font-weight:bold;
	}
	ul {
	  -webkit-padding-start: 0px;
	  padding: 0px 0px 0px 0px;
	}
	ul li {
	  padding: 3px
	}
	/* toc + book */
	.toccell {
	  height:     100%; 
  }
	.tocdiv {
	  width:      2.5in;
	  height:     100%; 
	  overflow-y: scroll; 
    position:   relative;	
  }
	.bookcell {
	  width:  7.0in;
	  height: 100%; 
	}
	.bookframe {
	  border-width:0px 0px 0px 0px;
	  margin:0px;
	  padding:0px;	
	  width:  100%;
	  height: 100%; 
	}
	/* other */
	button {
  	text-align:left;
  }
  .h1 {
	  font-family:Arial;
	  font-size:30px;
	  font-weight:bold;
    margin:0px;
    padding:0px;
  }
  .h2 {
	  font-family:Arial;
	  font-size:14px;
	  font-weight:bold;
    margin:0px;
    padding:0px;
  }
  .zerorow  {
/*	  height: 100%; */
	}
	.growrow  {
/*	  height: 100%; */
	}

}
/************ mobile **************/

.mobile {
  body {
    border-width:0px 0px 0px 0px;
    margin:0px;
    padding:0px;	
	}
	table {
	  border-width:0px 0px 0px 0px;
	  width: 100%;
	  height:100%;
	  margin:0px;
	  padding:0px;
	  border-collapse: separate;
	  border-spacing: 0;
	}
	/* other */
	table tr td {
	  background-color:#ffffff;
	  color:#000000;
	  font-family:Arial;
	  font-size:14px;
	  font-weight:normal;
	  padding:2px;
	  text-align:left;
	  vertical-align:middle;
	  border-color:black;
	  border-style:solid;
	  border-width:0px 0px 0px 0px;
	}
	table tr:first-child td {
	  background-color:#005fbf;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:14px;
	  font-weight:bold;
	  padding:7px;
	  text-align:center;
	  vertical-align:middle;
	  border-color:black;
	  border-style:solid;
	}
	button {
	  text-align:left;
	}
  .h1 {
	  font-family:Arial;
	  font-size:30px;
	  font-weight:bold;
    margin:0px;
    padding:0px;
  }
  .h2 {
	  font-family:Arial;
	  font-size:14px;
	  font-weight:bold;
    margin:0px;
    padding:0px;
  }
	/* toc + book */
	.toccell {
	  display: none;
	}
	.bookcolumn {
	  width: 100%;
	}
	.bookcell {
	  width: 100%;
	  height:100%; 
	}
	.bookframe {
	  border-width:0px 0px 0px 0px;
	  margin:0px;
	  padding:0px;	
	  width:  100%;
	  height: 100%; 
	}
	/* zreo & grow */
	.zerocolumn  {
	  display: none;
	  width: 0%;
	}
	.zerorow  {
	  display: none;
	  height: 0%;
	}
	.growrow  {
	  height: 100%;
	}
}
